universal_lead_capture_workflow.json
{
    "name": "Universal Lead Capture & Auto Reply",
    "nodes": [
        {
            "parameters": {
                "path": "incoming-lead",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": 1,
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "9712d7a3-a49a-4dac-9655-39cad71dfeaf"
        },
        {
            "parameters": {
                "sheetId": "",
                "range": "Sheet1!A:D",
                "valueInputMode": "USER_ENTERED",
                "options": {},
                "data": {
                    "dataProperty": "={{$json}}",
                    "headers": [
                        "Name",
                        "Phone/Email",
                        "Message",
                        "Source"
                    ]
                }
            },
            "id": 2,
            "name": "Log to Google Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 2,
            "position": [
                450,
                300
            ],
            "credentials": {
                "googleApi": {
                    "id": "your-google-api-credentials",
                    "name": "Google API"
                }
            }
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "create",
                "from": "={{$json[\"From\"] || $json[\"email\"]}}",
                "to": "={{$json[\"From\"] || $json[\"email\"]}}",
                "message": "Thank you for reaching out! We've received your message and will follow up shortly.",
                "options": {}
            },
            "id": 3,
            "name": "Send Auto Reply",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "twilioApi": {
                    "id": "your-twilio-api-credentials",
                    "name": "Twilio API"
                }
            }
        },
        {
            "parameters": {
                "calendar": "",
                "start": "={{$now}}",
                "end": "={{$now.add(30, 'minutes')}}",
                "title": "Follow-up with {{$json[\"Name\"] || 'New Lead'}}",
                "description": "Message: {{$json[\"Message\"] || 'No message'}}",
                "options": {}
            },
            "id": 4,
            "name": "Create Google Calendar Event",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "googleApi": {
                    "id": "your-google-api-credentials",
                    "name": "Google API"
                }
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Log to Google Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log to Google Sheet": {
            "main": [
                [
                    {
                        "node": "Send Auto Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Auto Reply": {
            "main": [
                [
                    {
                        "node": "Create Google Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false
}